In [1]:
import pandas as pd

In [29]:
parcours = pd.read_csv('parcours.csv').drop_duplicates()
parcours = parcours.reset_index().drop(columns='index')
parcours 
parcours['key'] = parcours['year'].astype('str') + '-' + parcours['day'].astype('str')

In [30]:
parcours

                          name           value  year  day      key
0                        Date:     05 May 2017  2017    1   2017-1
1                  Start time:          13:25   2017    1   2017-1
2           Avg. speed winner:      39.42 km/h  2017    1   2017-1
3               Race category:  ME - Men Elite  2017    1   2017-1
4                    Distance:          206 km  2017    1   2017-1
...                        ...             ...   ...  ...      ...
1738                Departure:          Verona  2022   21  2022-21
1739                  Arrival:          Verona  2022   21  2022-21
1740             Race ranking:              13  2022   21  2022-21
1741  Startlist quality score:             790  2022   21  2022-21
1742                  Won how:      Time Trial  2022   21  2022-21

[1743 rows x 5 columns]

In [22]:
parcours[parcours['name'] == 'Parcours type:']['value'] = parcours[parcours['name'] == 'Parcours type:']['value'].apply(lambda x: x.replace('p',''))

/var/folders/3l/70h6qcrd72q0j5x4sscw7qn40000gn/T/ipykernel_66488/2531262156.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  parcours[parcours['name'] == 'Parcours type:']['value'] = parcours[parcours['name'] == 'Parcours type:']['value'].apply(lambda x: x.replace('p',''))

In [35]:
parcours_df = pd.pivot_table(parcours, values='value', index='key', columns='name', aggfunc='first').reset_index()

In [55]:
parcours_sub = parcours_df[['key', 'Parcours type:', 'ProfileScore:', 'Race ranking:', 'Vert. meters:']]
parcours_sub['Parcours type:'] = parcours_sub['Parcours type:'].apply(lambda x: x.replace('p',''))
parcours_sub[['Parcours type:', 'ProfileScore:', 'Race ranking:', 'Vert. meters:']] = parcours_sub[['Parcours type:', 'ProfileScore:', 'Race ranking:', 'Vert. meters:']].astype('int')
parcours_sub

/var/folders/3l/70h6qcrd72q0j5x4sscw7qn40000gn/T/ipykernel_66488/3554628119.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  parcours_sub['Parcours type:'] = parcours_sub['Parcours type:'].apply(lambda x: x.replace('p',''))
/var/folders/3l/70h6qcrd72q0j5x4sscw7qn40000gn/T/ipykernel_66488/3554628119.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  parcours_sub[['Parcours type:', 'ProfileScore:', 'Race ranking:', 'Vert. meters:']] = parcours_sub[['Parcours type:', 'ProfileScore:', 'Race ranking:', 'Vert. meters:']].astype('int')

name      key  Parcours type:  ProfileScore:  Race ranking:  Vert. meters:
0      2017-1               2             51             23           2176
1     2017-10               2             35             23            505
2     2017-11               4            183             23           3912
3     2017-12               2             50             23           2407
4     2017-13               1              0             23            399
..        ...             ...            ...            ...            ...
121    2022-5               0             32             13           1956
122    2022-6               0             55             13           1596
123    2022-7               0            239             13           4724
124    2022-8               0            107             13           2240
125    2022-9               0            443             13           4911

[126 rows x 5 columns]

In [56]:
parcours_sub['year'] = parcours_sub['key'].apply(lambda x: x.split('-')[0])
parcours_sub['day'] = parcours_sub['key'].apply(lambda x: x.split('-')[1])

/var/folders/3l/70h6qcrd72q0j5x4sscw7qn40000gn/T/ipykernel_66488/2917506029.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  parcours_sub['year'] = parcours_sub['key'].apply(lambda x: x.split('-')[0])
/var/folders/3l/70h6qcrd72q0j5x4sscw7qn40000gn/T/ipykernel_66488/2917506029.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  parcours_sub['day'] = parcours_sub['key'].apply(lambda x: x.split('-')[1])

In [58]:
parcours_sub.to_csv('parcours_clean.csv')

In [63]:
parcours_sub.groupby('year')['Parcours type:', 'ProfileScore:', 'Vert. meters:'].mean().reset_index()

/var/folders/3l/70h6qcrd72q0j5x4sscw7qn40000gn/T/ipykernel_66488/378991233.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  parcours_sub.groupby('year')['Parcours type:', 'ProfileScore:', 'Vert. meters:'].mean().reset_index()

name  year  Parcours type:  ProfileScore:  Vert. meters:
0     2017        2.952381     134.285714    2570.619048
1     2018        3.142857     135.476190    2437.476190
2     2019        2.952381     138.190476    2478.047619
3     2020        2.809524     151.095238    2630.904762
4     2021        2.809524     153.809524    2261.761905
5     2022        0.000000     167.476190    2626.333333