In [180]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

In [194]:
zestien = pd.read_csv('data_raw_2021.csv').rename(columns={'index': 'rider'})

In [182]:
stage_s = list(np.arange(2,32,2))+list(np.arange(32,48,4))+[50]
stage_s_i = list(np.arange(1,21,1))
stage_s_dict = dict(zip( stage_s_i, stage_s[::-1]))
stage_s_dict

{1: 50,
 2: 44,
 3: 40,
 4: 36,
 5: 32,
 6: 30,
 7: 28,
 8: 26,
 9: 24,
 10: 22,
 11: 20,
 12: 18,
 13: 16,
 14: 14,
 15: 12,
 16: 10,
 17: 8,
 18: 6,
 19: 4,
 20: 2}

In [183]:
stage_gc = list(np.arange(2,12,2))
stage_gc_i = list(np.arange(1,6,1))
stage_gc_dict = dict(zip( stage_gc_i, stage_gc[::-1]))
stage_gc_dict

{1: 10, 2: 8, 3: 6, 4: 4, 5: 2}

In [184]:
stage_points = [1]+list(np.arange(2,10,2))
stage_points_i = list(np.arange(1,6,1))
points_dict = dict(zip( stage_points_i,  stage_points[::-1]))
points_dict

{1: 8, 2: 6, 3: 4, 4: 2, 5: 1}

In [185]:
stage_kom = [1]+list(np.arange(2,10,2))
stage_kom_i = list(np.arange(1,6,1))
kom_dict = dict(zip( stage_kom_i,  stage_kom[::-1]))
kom_dict

{1: 8, 2: 6, 3: 4, 4: 2, 5: 1}

In [186]:
stage_youth = list(np.arange(1,5,1))+[6]
stage_youth_i = list(np.arange(1,6,1))
youth_dict = dict(zip( stage_youth_i,  stage_youth[::-1]))
youth_dict

{1: 6, 2: 4, 3: 3, 4: 2, 5: 1}

In [187]:
zestien['1-stage'].map(stage_s_dict).fillna(0)

0      50.0
1      44.0
2      40.0
3      36.0
4      32.0
       ...
179     0.0
180     0.0
181     0.0
182     0.0
183     0.0
Name: 1-stage, Length: 184, dtype: float64

In [191]:
for i in zestien.columns:
    zestien['sum'] = 0
    if '-stage' in i:
        zestien[i] = zestien[i].map(stage_s_dict).fillna(0)
        zestien['sum'] = zestien[i] + zestien['sum']
    elif '-gc' in i:
        zestien[i] = zestien[i].map(stage_gc_dict).fillna(0)
        zestien['sum'] = zestien['sum']+ zestien[i]
    elif '-points' in i:
        zestien[i] = zestien[i].map(points_dict).fillna(0)
        zestien['sum'] = zestien['sum']+ zestien[i]
    elif '-youth' in i:
        zestien[i] = zestien[i].map(youth_dict).fillna(0)
        zestien['sum'] = zestien['sum']+ zestien[i]
    elif '-kom' in i:
        zestien[i] = zestien[i].map(kom_dict).fillna(0)
        zestien['sum'] = zestien['sum']+ zestien[i]
    else:
        pass

In [192]:
team = []

for i in zestien.columns:
    if 'teams' in i:
        team.append(i)
        
        
#zestien.drop(columns=['Unnamed: 0'], inplace=True)
#zestien.drop(columns=team, inplace=True)
zestien

,Unnamed: 0,rider,1-stage,1-gc,1-points,1-youth,2-stage,2-gc,2-points,2-kom,...,14-teams,15-teams,16-teams,17-teams,18-teams,19-teams,20-teams,21-teams,year,sum
0,0,Ganna Filippo,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,2,2.0,1.0,2.0,1.0,1.0,1.0,2021,0
1,1,Affini Edoardo,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,...,5,7,4.0,2.0,5.0,3.0,2.0,2.0,2021,0
2,2,Foss Tobias,0.0,0.0,2.0,3.0,0.0,0.0,0.0,2.0,...,5,7,4.0,2.0,5.0,3.0,2.0,2.0,2021,0
3,3,Almeida João,0.0,4.0,6.0,4.0,0.0,8.0,0.0,8.0,...,7,8,10.0,10.0,9.0,9.0,8.0,8.0,2021,0
4,4,Cavagna Rémi,0.0,8.0,8.0,0.0,0.0,0.0,0.0,0.0,...,7,8,10.0,10.0,9.0,9.0,8.0,8.0,2021,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,179,Fortunato Lorenzo,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,15,15,14.0,14.0,13.0,13.0,13.0,13.0,2021,0
180,180,Viviani Attilio,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,21,20,21.0,21.0,21.0,21.0,22.0,22.0,2021,0
181,181,Tagliani Filippo,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,19,19,19.0,19.0,18.0,18.0,19.0,19.0,2021,0
182,182,Niv Guy,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,16,16,17.0,17.0,16.0,17.0,17.0,17.0,2021,0
183,183,Sánchez Luis León,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10,11,8.0,6.0,4.0,5.0,4.0,4.0,2021,0

In [195]:
zestien

,Unnamed: 0,rider,1-stage,1-gc,1-points,1-youth,2-stage,2-gc,2-points,2-kom,...,13-teams,14-teams,15-teams,16-teams,17-teams,18-teams,19-teams,20-teams,21-teams,year
0,0,Ganna Filippo,1,1,1.0,1.0,20,1.0,6.0,1.0,...,1,1,2,2.0,1.0,2.0,1.0,1.0,1.0,2021
1,1,Affini Edoardo,2,2,2.0,2.0,101,2.0,8.0,2.0,...,7,5,7,4.0,2.0,5.0,3.0,2.0,2.0,2021
2,2,Foss Tobias,3,3,3.0,3.0,100,3.0,11.0,3.0,...,7,5,7,4.0,2.0,5.0,3.0,2.0,2.0,2021
3,3,Almeida João,4,4,4.0,4.0,50,5.0,14.0,5.0,...,6,7,8,10.0,10.0,9.0,9.0,8.0,8.0,2021
4,4,Cavagna Rémi,5,5,5.0,NaN,79,6.0,16.0,NaN,...,6,7,8,10.0,10.0,9.0,9.0,8.0,8.0,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,179,Fortunato Lorenzo,180,180,NaN,49.0,153,175.0,NaN,49.0,...,16,15,15,14.0,14.0,13.0,13.0,13.0,13.0,2021
180,180,Viviani Attilio,181,181,NaN,50.0,91,176.0,NaN,50.0,...,20,21,20,21.0,21.0,21.0,21.0,22.0,22.0,2021
181,181,Tagliani Filippo,182,182,NaN,NaN,145,177.0,7.0,NaN,...,21,19,19,19.0,19.0,18.0,18.0,19.0,19.0,2021
182,182,Niv Guy,183,183,NaN,NaN,106,178.0,NaN,NaN,...,17,16,16,17.0,17.0,16.0,17.0,17.0,17.0,2021
183,183,Sánchez Luis León,184,184,NaN,NaN,83,179.0,NaN,NaN,...,8,10,11,8.0,6.0,4.0,5.0,4.0,4.0,2021